<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RsIndosiar.Properties.Settings.RsIndosiarConnectionString"
            connectionString="Data Source=DIAN\NAZARIN;Initial Catalog=RsIndosiar;User ID=sa;Password=PasswordSA;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>